@import "tailwindcss";
@plugin "daisyui";


/* Custom CSS can go here */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* You can define custom utility classes */
@layer components {
  .btn-primary {
    @apply bg-blue-500 px-4 py-2 rounded;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: Arial, Helvetica, sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Hanya mengubah ikon kalender jadi hitam */
}